
/* КОЛІР ГОЛОВНОГО ТЕКСТУ #212121 */

/* КОЛІР ДРУГОРЯДНОГО ТЕКСТУ #757575 */

/* Білий колір тексту #FFFFFF */

/* Білий другорядний rgba(255, 255, 255, 0,6); */

/* акцент #2196F3 */

/* Колір сторінки другорядний #F5F4FA */

/* Колір сторінки другорядний #2F303A */



:root {
    --primary-text-color:rgba(117, 117, 117, 1);
    --title-text-color:#212121;
    --accent-color: #2196F3;
    --additional-color:#757575;
    --additional-white-color:#FFFFFF;
    --background-color:#2F303A;
    --background-team-color:#F5F4FA;
    --contact-text-color:#FFFFFF99;
    --bgc-work-card:#EEEEEE;
    --client-color:#afb1b8;
    --button-hover:#188CE8;
    --box-shadow:rgba(0, 0, 0, 0.15);

    --timer: 250ms;
    --cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
    background-color: var(--additional-white-color);
    color: var(--primary-text-color);
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.03em;

} 

.header {
    width: 100%;
    min-height: 80px;
    top: 0;
    right: 0;
    border-bottom: 1px solid #ECECEC;
    background-color: var(--additional-white-color);
}



.container {
    margin: 0 auto;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    


} 


.logo {
    color: var(--title-text-color);
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    padding-top: 24px;
    padding-bottom: 24px;
} 

.name_logo {
    color: var(--accent-color);
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    
} 

.list {
    padding: 0;
    margin: 0;
    list-style: none;
} 

.link {
    text-decoration: none;
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    position: relative;
    transition: color var(--timer) var(--cubic-bezier);

} 

.nav {
    display: flex;
    align-items: center;
}
/* site nav */

.site-nav {
     display: flex;
     margin-left: 93px;
     
}

.site-nav .site-nav__list {
    margin-right: 50px;
    
    
}

.site-nav .site-nav__list:last-child {
    margin-right: 0;
}

    
.active::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    position: absolute;
    border-radius: 2px;

    left: 0;
    bottom: -1px;
    opacity: 1;
    
}



.active {
    color: var(--accent-color);

}   
    
.site-nav .link:hover,
.site-nav .link:focus {
    color:var(--accent-color);

}


/* cont-nav */

.contact-nav {
    display: flex;
    margin-left: auto;

}

.contact-nav__icon {
    width:16px;
    height: 16px;
    align-items: center;
    margin-right: 10px;
    background-repeat: no-repeat;
    display: inline-flex;
    background-size: contain;
    vertical-align: middle;
    fill: currentColor;

}

.contact-nav__icon:hover{
    color: var(--accent-color);
    

}
.contact-nav__link {
    color: var(--additional-color);
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    padding-top: 32px;
    padding-bottom: 32px;
    display: block;
    transition: color var(--timer) var(--cubic-bezier);
}


.contact-nav__link:hover, 
.contact-nav__link:focus {
    color:var(--accent-color);

    
}

.contact-nav .contact-nav__list + .contact-nav__list {
    margin-left: 50px;
}


/* hero */
.hero-title {

    margin-top: 0;
    margin-bottom: 30px;

    color: var(--additional-white-color);
    font-style: normal;;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-align: center;
    text-transform: uppercase;

}

.section-hero {
    background-color: var(--title-text-color);
    
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 1600px;
    margin: 0 auto;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)), 
url(../images/hero-img.jpg);
    
} 

.section-hero .container {
    width: 696px;
}

.button {
    
    background-color: var(--accent-color);
    color: var(--additional-white-color);
    border-radius: 4px;
    border: none;
    width: 200px;
    height: 50px;
    text-align: center;
    min-width: 200px;
    margin-bottom: 0;
    font-family: Roboto;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
    transition: box-shadow var(--timer) var(--cubic-bezier),
    background-color var(--timer) var(--cubic-bezier);

 
}

.button:hover,
.button:focus {
    box-shadow: 0px 4px 4px var(--box-shadow);
    background-color: var(--button-hover);
}

/* modal */

.modal__block {
    position: relative;
        
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 1;
    transition: opacity var(--timer) var(--cubic-bezier),
    visibility var(--timer) var(--cubic-bezier);

}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.modal {
    min-height: 581px;
    min-width: 528px;
    background-color: var(--additional-white-color);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 40px;


}
.close {
    box-sizing: border-box;
    fill: currentColor;
}

.close-btn {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: var(--additional-white-color);
    color: var(--title-text-color);
    position: absolute;
    top: 8px;
    right: 8px;
    transition: color var(--timer) var(--cubic-bezier);


}

.close-btn:hover,
.close-btn:focus {
  color:var(--accent-color);
}

/* form */

.modal-form {
    width: 448px;
}

.modal-form__title {

    font-weight: bold;
    font-size: 20px;
    line-height: 1,15;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    margin-top: 0;
    margin-bottom: 12px;

}

.modal-form__field {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: 10px;  

}
.modal-form__field-name {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    margin-bottom: 4px;


}

.modal-form__block {

    position: relative;
    margin-top: 0;
  
    color: var(--title-text-color);  

}

.modal-form__block svg {
    
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 13px;
    fill: currentColor;
    transition: color var(--timer) var(--cubic-bezier);
}

.modal-form__block input {
    
    width: 448px;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 12px 42px;
    cursor: pointer;
    outline: none;
    transition: border-color var(--timer) var(--cubic-bezier);
}

.modal-form__block input:focus {
  border-color: var(--accent-color);
}

.modal-form__block input:focus + svg {
    color: var(--accent-color);
}

.modal-form__block {
    display: flex;
    margin-bottom: 10px;
    justify-content:center;
    
}

/* comment */

.modal-form__comment {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: 20px;
}

.modal-form__textarea::placeholder {
    font-weight: normal;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;

    color: rgba(117, 117, 117, 0.5);
}

.modal-form__comment .modal-form__textarea {
    display: block;
    width: 448px;
    height: 120px;
    padding: 12px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;
    outline: none;
    transition: border-color var(--timer) var(--cubic-bezier);
}
    
.modal-form__comment textarea:focus {
    border-color: var(--accent-color);
}

.modal-form__comment label {
    margin-bottom: 4px;
    margin-top: 0;
}

/* checkbox */

.modal-form__checbox-field {
    display: flex;
    margin-bottom: 30px;
    justify-content:center;
    
}

.modal-form__check {
    width: 16px ;
    height: 15px;
    margin-right: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    border: 2px solid var(--title-text-color);
    border-radius: 2px;
    transition: background-color var(--timer) var(--cubic-bezier);
    cursor: pointer;

}

.modal-form__check-icon {
    fill: var(--additional-white-color);
}

.modal-form__checbox:checked + .modal-form__check {
    background-color: var(--accent-color);
    border: none;

}

.modal-form__checbox:focus + .modal-form__check  {
    border: 2px solid var(--accent-color);
}

.modal-form__checkbox-text{
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--additional-color);
}

.modal-form__checkbox-link{
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    margin-left: 4px;
    letter-spacing: 0.03em;
    text-decoration-line: underline;
    color: var(--accent-color);
    outline: none;
    transition: outline var(--timer) var(--cubic-bezier);
}

.modal-form__checkbox-link:focus{
    outline: 2px solid var(--accent-color);

}


.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}


/* Features */
.section {
    padding-top: 94px;
    padding-bottom: 94px;
    margin-bottom: 0;
    margin-top: 0;
    
}

.section .container {
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.features{
    display: flex;
}

.features__list .features__title-block {
    text-align: left;
}


.features .features__list + .features__list {
    margin-left: 30px;
}

.features__title {

    margin-top: 0;
    margin-bottom: 0;
}

.features .features__title-block {

    
    color: var(--title-text-color);
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    
}

.features__title-block {

    margin-top: 0;
    margin-bottom: 10px;
    text-align: center;

}

.features__list {
    margin-top: 0;
    margin-bottom: 0;
    width: 272px;
    
    
}

.features__icon-block {

    width: 270px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 4px;
    margin-bottom: 30px;
    background-position: center;
    background-color: var(--background-team-color);

}

.features__icon {

    width: 70px;
    height: 70px;
    background-repeat: no-repeat;

}
.features__text-title {

    margin-top: 0;
    margin-bottom: 0;


    font-size: 14px;
    line-height: 1.71;  
}
/* SECTION WORK*/

.section-work {
    padding-top: 0;
    padding-bottom: 94px;
}

.work__action-block {
    position: relative;
    line-height: 0;
}

.work__action-line {
    width: 100%;
    height: 70px;
    background: rgba(47, 48, 58, 0.8);
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    right: 0;

}

.work__action-line-title {
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin: 0;
    color: var(--additional-white-color);


}

.section__title {

    font-weight: bold;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;

    color: var(--title-text-color);
    margin-top: 0;
    margin-bottom: 50px;
}



.work {
    display: flex;
}

.work .work__img + .work__img {
    margin-left: 30px;
}

.work__img {
    margin-top: 0;
    margin-bottom: 0;
    display: block;
    max-width: 100%;
    height: auto;
}




/* Team */
.team .title {

    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    margin-bottom: 10px;
    text-align: center;
}

.title {

    margin-top: 0;
    margin-bottom: 10px;
    text-align: center;

}
.team {
       
    border-radius: 0px 0px 4px 4px; 
    display: flex;

}

.team__img {
    margin-top: 0;
    display: block;
    max-width: 100%;
    height: auto;

}

.team .team__card + .team__card {
    margin-left: 30px;
    
}


.team__position-title {

    margin-top: 0;
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}

.team__container{
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 32px;
    padding-right: 32px;
    
}




.team__card {
    background-color: var(--additional-white-color);
    margin-top: 0;
    margin-bottom: 0;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.section-team {

    background-color: var(--background-team-color);
    padding-top: 94px;
    padding-bottom: 94px;
}

.team__social-block {
    display: flex;
    list-style: none;
    padding: 0;
    


}

.team__social-list:last-child {
    margin-right: 0;

}


.team__social-list {    
    margin-right: 10px; 
    width: 44px;
    height: 44px;
}
    
.team__social-icon {
    fill: currentColor;
}

.team__social-link {

    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    color: var(--client-color);
    transition: color var(--timer) var(--cubic-bezier),
    background-color var(--timer) var(--cubic-bezier);
}


.team__social-link:hover,
.team__social-link:focus {
    color: #FFFFFF;
    background-color: var(--accent-color);


}

/* Клієнти */

.section-clients {
    
    padding-top: 0;
    padding-top: 94px;
    padding-bottom: 94px;
}

.clients__block {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: space-between;
}

.clients__list {

    margin-right: 30px;
    width: 170px;
    height: 92px;


}

.clients__list:last-child {
    margin-right: 0;

} 

.clients__icon {
    fill: currentColor;
}

.clients__link {
    width: 170px;
    height: 92px;   
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--client-color);
    box-sizing: border-box;
    border-radius: 4px;
    color: var(--client-color);
    transition: color var(--timer) var(--cubic-bezier),
    border-color var(--timer) var(--cubic-bezier);
    
}



.clients__link:hover,
.clients__link:focus{
    border-color: var(--accent-color);
    color: var(--accent-color);

}



/* footer */

.footer {
    background-color: var(--background-color);
    padding-top: 60px;
    padding-bottom: 60px;
}
.footer__logo {

    margin-top: 0;
    margin-bottom: 20px;

    color: var(--additional-white-color);
    text-decoration: none;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    display: block;
    letter-spacing: 0.03em;

}
.footer__address {
    color: var(--additional-white-color);
    font-size: 14px;
    line-height: 1.71;
    font-style: normal;

    margin-top: 0;
    margin-bottom: 9px;


}

.footer__link {
    color: var(--contact-text-color);
    text-decoration: none;
    font-size: 14px;
    line-height: 1.71;
    font-style: normal;
    margin-top: 0;
    transition: color var(--timer) var(--cubic-bezier);
    
}

.footer__address-mail {
    margin-bottom: 9px;
}

.footer__address-tel {
    margin-bottom: 0;
    margin-bottom: 0;
}
.footer__link:hover,
.footer__link:focus {
    color:var(--accent-color);

}
/* social links */

.footer-social {
    margin-left: 70px;
    margin-right: 0;
    
}

.footer-social__title {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--additional-white-color);
    margin-top: 0;
    margin-bottom: 20px;
}

.footer-social__block {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;

}

.decoration {
    display: flex;
    align-items: baseline;
}

.footer-social__list:last-child {
    margin-right: 0;
}

.footer-social__list {
    margin-right: 10px;
    width: 44px;
    height: 44px;
}

.footer-social__icon{
    fill: currentColor;


}

.footer-social__link {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;    
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    color: var(--additional-white-color);
    transition: background-color var(--timer) var(--cubic-bezier);

}

.footer-social__link:hover,
.footer-social__link:focus {
    background-color:var(--accent-color);

    
}

/* subscribe */

.footer-subscribe {
    margin-left: auto;
}

.footer-subscribe__title {
    margin-bottom: 20px;
    display: flex;
    margin-top: 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--additional-white-color);
}

.footer-subscribe__form {
  display: flex;
  align-items: flex-end;
}

.telegram {
    margin-left: 10px;
    
}

.footer-subscribe__input {
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px var(--box-shadow));
    border-radius: 4px;
    outline: none;
    background-color: transparent;
    margin-right: 12px;
    width: 358px;
    height: 50px;
    padding-left: 16px;
    color: var(--additional-white-color);
    letter-spacing: 0.03em;
    font-size: 16px;
    line-height: 1.25;
    transition: border var(--timer) var(--cubic-bezier);

}


.footer-subscribe__input:focus {
    border: 1px solid var(--additional-white-color);
}

.footer-subscribe__input::placeholder {
  color: rgba(255, 255, 255, 0.6);
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  font-size: 16px;
  line-height: 1.25;
  
}


.footer-subscribe__form-button {
    
    background-color: var(--accent-color);
    color: var(--additional-white-color);

    border-radius: 4px;
    border: none;

    width: 200px;
    height: 50px;
    margin-bottom: 0;
    justify-content: center;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-family: Roboto;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
    box-shadow: 0px 4px 4px var(--box-shadow);
    transition: background-color var(--timer) var(--cubic-bezier);  
    
}

.footer-subscribe__form-button:focus,
.footer-subscribe__form-button:hover {
    background-color: var(--button-hover);
}



/* Page Portfolio */

.portfolio__hero {
    margin-top: 0;

}

.portfolio__button {
    background-color: var(--background-team-color);
    color: var(--title-text-color);

    font-family: Roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    border-radius: 4px;
    letter-spacing: 0.03em;
    border: none;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 22px;
    padding-right: 22px;
    transition: background-color var(--timer) var(--cubic-bezier),
    color var(--timer) var(--cubic-bezier),
    box-shadow var(--timer) var(--cubic-bezier);

}

.portfolio__button-list .portfolio__button-click + .portfolio__button-click{
    margin-left: 8px;
}
.portfolio__button-list {
    padding-top: 0;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;

}

.current-active {
    background-color: var(--accent-color);
    color: var(--additional-white-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
border-radius: 4px;
}

.portfolio__button:hover,
.portfolio__button:focus {
    background-color: var(--accent-color);
    color: var(--additional-white-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    
}

.pointer {
  cursor: pointer;
}
/* card & overlay */
.portfolio-work {
    text-decoration: none;
    margin-top: 0;

    display: flex;
    flex-wrap: wrap;

}

.portfolio-work__card {

    width: calc((100% - 60px) / 3);   
    box-sizing: border-box;
    margin-right: 30px;
    margin-bottom: 30px;

}

.portfolio-work__card:nth-child(3n) {
    margin-right: 0;
}

.portfolio-work__card:nth-last-child(-n + 3) {
    margin-bottom: 0;   
}

.portfolio-work__link {
    text-decoration: none;
    display: block;
    transition: box-shadow var(--timer) var(--cubic-bezier);
    border-radius: 4px;
    
}

.portfolio-work__link:focus .portfolio-work__overlay,
.portfolio-work__link:hover .portfolio-work__overlay {
  transform: translatey(0);
}

.portfolio-work__link:hover,
.portfolio-work__link:focus{
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);

}

.portfolio-work__card-overlay {
    position: relative;
    overflow: hidden;

}

.portfolio-work__img {
    margin-top: 0;
    display: block;
    max-width: 100%;
    height: auto;


}
.portfolio-work__overlay {
    background: rgba(33, 150, 243, 0.9);

    display: flex;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: translateY(101%);
    transition: transform var(--timer) var(--cubic-bezier);
}

.portfolio-work__overlay-text {
    color: var(--additional-white-color);
    font-size: 18px;
    line-height: 1.6;

    padding-top: 63px;
    padding-bottom: 63px;
    padding-right: 24px;
    padding-left: 24px;
    margin: 0;

 
} 
    


.portfolio-work__card-container {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
    padding-right: 24px;

    
    border-left: 1px solid var(--bgc-work-card );
    border-right: 1px solid var(--bgc-work-card );
    border-bottom: 1px solid var(--bgc-work-card );

}


.portfolio-work__title {
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-text-color);

    margin-top: 0;
    margin-bottom: 4px;

    
}

.portfolio-work__paragraph {
    font-size: 16px;
    line-height: 1.86;
    color: var(--additional-color);

    margin-top: 0;
    margin-bottom: 0;


}

